body {
  background-color: #f7f5f5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-header {
  background-color: #00c2a2;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
